<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>informacion</title>
    <link rel="stylesheet" type="text/css" href="primer.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- Logo en el lado izquierdo -->
        <a class="navbar-brand" href="#">
            <img src="img/logo.PNG" alt="Logo" class="img-fluid">
        </a>

        <!-- H1 centrado -->
        <div class="navbar-brand">
            <h1>VALERIA BERTHY </h1>
        </div>

        <!-- Botón para dispositivos pequeños -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contenido de la barra de navegación -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Botones de la barra de navegación con margen entre ellos -->
                <li class="nav-item me-2">
                    <a class="nav-link" href="catalogo1.html">CATALOGO</a>
                </li>
                <li class="nav-item me-2">
                    <a class="nav-link"  href="reservaprueba.html">RESERVAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="index.html">INICIO</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    
<div id="app">

    <!-- Sección de ubicación con el mapa de Google fuera del cuadro rosado -->
    <div v-if="mostrar" style="text-align: left; font-family: 'Arial', sans-serif; margin: 20px 20px 40px;">
        <main>
            <h3 style="text-align: right; margin-right: 60px;">NUESTRA UBICACION</h3>
            <br>
            <div id="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d912.8228463417412!2d-63.17605845630171!3d-17.75792811230609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e7f297e35d09%3A0xe3fa6eefe11d4079!2sBerthybeautysalon!5e1!3m2!1ses-419!2sbo!4v1706545789280!5m2!1ses-419!2sbo" width="300" height="300" style="border:0; float: right;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </main>
    </div>

    <div v-if="mostrar" style="text-align: justify; font-family: 'Arial', sans-serif; margin: 70px 10px 80px; display: flex; align-items: center; justify-content: space-between;">
        <!-- Contenedor flex para alinear elementos en fila -->
        <div style="max-width: 880px; background-color: #dfb9da; padding: 60px; margin-top: -70px ;">
            <!-- Texto con tipo de letra cambiado -->
            <div>
                <img src="https://4.bp.blogspot.com/-K_4-Kodl-qY/XMChjpMX70I/AAAAAAAAcSg/bJ9Vz3RICzU2vS1JtERmZisz_dZIEKbuwCLcBGAs/s1600/encontrar-trabajo-de-maquillador-estrategias.jpg" alt="Logo del Salón de Belleza" style="max-width: 400px; margin-right: 40px; float: left;">
                <h3>Salon de Belleza Valerya Berthy se enfoca en dar a relucir la belleza, más de lo que ya porta la cliente. Un local que cuenta con una muy buena atención por parte de la dueña y su trabajador, en este salón de belleza se encontrarán servicios de todo tipo. El salón de belleza Valeria Berthy aperturó el 1 de julio de 2023 y se inauguró el 15 de diciembre de 2023. La dueña Valeria Berthy decidió integrarse al campo del estilismo, estética y belleza, un local único con una ubicación accesible a muchas estudiantes que buscan alcanzar una mejor imagen personal.</h3>
            </div>
        </div>
    </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
</div>
</body>
</html>
